# Django / Python
__pycache__/
*.py[cod]
*$py.class
*.sqlite3

# Environments
.env
.env.local
.env.*
.venv/
env/
venv/
ENV/

# OS/Editor
.vscode/
.idea/
Thumbs.db
Desktop.ini

# Project specific
/static_collected/
/media/
/logs/
*.log
