{% load static %}
<!DOCTYPE html>
<htmlstyle>

  <title>Página de Perguntas Frequentes (FAQ)</title>
    <head>
    <link href="{% static "css/FAQ.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<style>
    .custom-navbar {
    height: 105px;
    font-weight: 900;
    box-sizing: border-box;
    font-size: 20px;
    line-height: inherit;
    white-space: nowrap;
    font-style: normal;
    text-align: center;
    box-sizing: border-box;
}


</style>   
</head>

<body>
    <nav style="background-color: #05091f;" class="navbar navbar-expand fixed-top navbar-dark custom-navbar">
        <a style="text-decoration: none;" href="https://ammsolucoes.com.br/">
            <img src="{% static 'img/AmmLOGO.webp' %}" alt="Logo - Empresa" style="margin-left: 15px;"> 
            
            <span style="color: #ffa41b; font-family: 'Barlow', sans-serif; font-size: 20px;">
                <b> Soluções</b>
            </span>
        </a>
    </nav>
    
    
    
    
  
    <div class="container">
        <section class="content">
            <div class="row">
                <!-- BEGIN NAV TICKET -->
                <div class="col-md-3">
                    <div class="grid support">
                        <div class="grid-body">
                            <br><br><br><br><br><h2>FAQ Amm</h2>
                            <br>
                            
                            
                            
                            <p><strong>Palavras-Chaves</strong></p>
                            <ul class="support-label">
                                <li><a style="text-decoration: none;" href="#"><span class="bg-blue">&nbsp;</span>&nbsp;&nbsp;&nbsp;NOSSOS APLICATIVOS</a></li>
                                <li><a style="text-decoration: none;" href="#"><span class="bg-green">&nbsp;</span>&nbsp;&nbsp;&nbsp;DÚVIDAS FINANCEIRAS</a></li>
                                <li><a style="text-decoration: none;" href="#"><span class="bg-red">&nbsp;</span>&nbsp;&nbsp;&nbsp;SUPORTE TÉCNICO</a></li>
                                <li><a style="text-decoration: none;" href="#"><span class="bg-yellow">&nbsp;</span>&nbsp;&nbsp;&nbsp;RECLAMAÇÕES</a></li>
                                <li><a style="text-decoration: none;" href="#"><span class="bg-black">&nbsp;</span>&nbsp;&nbsp;&nbsp;OUTRAS INFORMAÇÕES</a></li>                       
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- END NAV TICKET -->
                <!-- BEGIN TICKET -->
                
                <div class="col-md-9">
                    <div class="grid support-content">
                         <div class="grid-body">
                             <h2>Issues</h2>
                             
                             <hr>
                             <br><br><br><br>
                             <div class="btn-group">
                                <h2 type="button" class="btn btn-default active">Perguntas Frequentes</h2>
                                
                            </div>
                             
                           
                            
                            <!-- BEGIN NEW TICKET -->
                            <a href="FormsHD.html"  type="button" class="btn btn-success pull-right">New Issue</a>
                            <div class="modal fade" id="newIssue" tabindex="-1" role="dialog" aria-labelledby="newIssue" aria-hidden="true">
                                <div class="modal-wrapper">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header bg-blue">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                <h4 class="modal-title"><i class="fa fa-pencil"></i> Create New Issue</h4>
                                            </div>
                                            <form action="#" method="post">
                                                <div class="modal-body">
                                                    <div class="form-group">
                                                        <input name="subject" type="text" class="form-control" placeholder="Subject">
                                                    </div>
                                                    <div class="form-group">
                                                        <input name="department" type="text" class="form-control" placeholder="Department">
                                                    </div>
                                                    <div class="form-group">
                                                        <textarea name="message" class="form-control" placeholder="Please detail your issue or question" style="height: 120px;"></textarea>
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="file" name="attachment">
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Discard</button>
                                                    <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-pencil"></i> Create</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END NEW TICKET -->
                             
                            <div class="padding"></div>
                             
                            <div class="row">
                                {% for cliente in clientes %}
                                {% if cliente.resposta_usuario %}
                                <!-- BEGIN TICKET CONTENT -->
                                <div class="col-md-12">
                                    <ul class="list-group fa-padding">
                                    
                                        <li class="list-group-item" data-toggle="modal" data-target="#issue">
                                            <div class="media">
                                                <i class="fa fa-cog pull-left"></i>
                                                <div class="media-body">
                                                    <strong>   {{ cliente.nomecliente }}</strong> <span class="label label-danger">{{cliente.assunto}}</span><span class="number pull-right"># 13698</span>
                                                    <p> {{cliente.descricao}}</p>
                                                    <p class="info"> <i class="fa fa-comments"></i> Amm Usuário: {{ cliente.resposta_usuario }}  <a href="#">2 comments</a></p>
                                                </div>
                                            </div>
                                        </li>
                                        
                                        
                                    </ul>
                                    
                                    
                                    <div class="modal fade" id="issue" tabindex="-1" role="dialog" aria-labelledby="issue" aria-hidden="true">
                                        <div class="modal-wrapper">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header bg-blue">
                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                        <h4 class="modal-title"><i class="fa fa-cog"></i> Add drag and drop config import closes</h4>
                                                    </div>
                                                    <form action="#" method="post">
                                                        <div class="modal-body">
                                                            <div class="row">
                                                                <div class="col-md-2">
                                                                    <img src="assets/img/user/avatar01.png" class="img-circle" alt="" width="50">
                                                                </div>
                                                                <div class="col-md-10">
                                                                    <p>{{ cliente.nomecliente }} <strong>{{cliente.assunto}}</strong>  {{cliente.get_data_criacao}}</p>
                                                                    <p>{{ cliente.descricao }}</p>
                                                                    
                                                                </div>
                                                            </div>
                                                            <div class="row support-content-comment">
                                                                <div class="col-md-2">
                                                                    <img src="assets/img/user/avatar02.png" class="img-circle" alt="" width="50">
                                                                </div>
                                                                <div class="col-md-10">
                                                                    <p>Posted by <a href="#">ehernandez</a> on 16/06/2014 at 14:12</p>
                                                                    <p>{{ cliente.resposta_usuario }}</p>
                                                                    <a href="#"><span class="fa fa-reply"></span> &nbsp;Post a reply</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                    <!-- END DETAIL TICKET -->
                                </div>
                                <!-- END TICKET CONTENT -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END TICKET -->
            </div>
        </section>
        </div>
  
</body>
</html>
