{% load static %}
<!DOCTYPE html>
  <title>Página de Perguntas Frequentes (FAQ)</title>
    <head>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/538f723e9c.js" crossorigin="anonymous"></script>
    <link href="{% static "css/FAQ.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<style>
    .custom-navbar {
    height: 105px;
    font-weight: 900;
    box-sizing: border-box;
    font-size: 20px;
    line-height: inherit;
    white-space: nowrap;
    font-style: normal;
    text-align: center;
    box-sizing: border-box;
}
.button-list {
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .button-item {
            margin: 10px;
        }

        .button {
            width: 200px;
            height: 50px;
            background-color: #f2f2f2;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
            box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
            transition: background-color 0.3s ease;
        }

        .button:hover {
            background-color: #e0e0e0;
        }

        .button.selected {
            background-color: #0066ff;
            color: #fff;
        }

        .hidden {
            display: none;
        }

        .content {
            padding: 20px;
            background-color: #f9f9f9;
            border-radius: 5px;
            box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
        }
</style>   
</head>

<body>
    <nav style="background-color: #05091f;" class="navbar navbar-expand fixed-top navbar-dark custom-navbar">
        <a style="text-decoration: none;" href="https://ammsolucoes.com.br/">
            <img src="{% static 'img/AmmLOGO.webp' %}" alt="Logo - Empresa" style="margin-left: 15px;"> 
            
            <span style="color: #ffa41b; font-family: 'Barlow', sans-serif; font-size: 20px;">
                <b> Soluções</b>
            </span>
        </a>
    </nav>
    
    
    
    
  
    <div class="container">
        <section class="content">
            <div class="row">
                <!-- BEGIN NAV TICKET -->
                <div class="col-md-3">
                    <div class="grid support">
                        <div class="grid-body">
                            <br><br><br><br><br>  <a style="text-decoration: none; color: #05091f;" href="/FAQ/"><h1>FAQ Amm</h1></a>
                            <br>
                            <form action="{% url 'FAQ' %}" method="GET">
                                <div style="display: flex; flex-direction: column; align-items: center;">
                                    <input type="text" name="q" placeholder="Pesquisar..." style="padding: 8px; border: 1px solid #ccc; border-radius: 4px; font-size: 14px;">
                                    <button type="submit" style="margin-top: 8px; padding: 8px 16px; background-color: #4CAF50; color: white; border: none; border-radius: 4px; cursor: pointer; font-size: 14px;">Pesquisar</button>
                                    <a href="/FAQ">Redefinir Filtro</a>
                                </div>
                            <ul class="button-list">
                                <li class="button-item"><button class="button" onclick="toggleVisibility(1)">TODOS</button></li>
                                <li class="button-item"><button class="button" onclick="toggleVisibility(2)">NOSSOS APLICATIVOS</button></li>
                                <li class="button-item"><button class="button" onclick="toggleVisibility(3)">DUVIDAS FINANCEIRAS</button></li>
                                <li class="button-item"><button class="button" onclick="toggleVisibility(4)">SUPORTE TECNICO</button></li>
                                <li class="button-item"><button class="button" onclick="toggleVisibility(5)">OUTRAS INFORMAÇÕES</button></li>
                                <li class="button-item"><button class="button" onclick="toggleVisibility(6)">RECLAMAÇÕES</button></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="grid support-content">
                        <div class="grid-body">
                            <hr>
                            <br><br><br><br>
                            <div class="btn-group" >
                                <h2 >Perguntas Frequentes</h2>
                            </div>
                            <!-- BEGIN NEW TICKET -->
                            <a href="/formshd" type="button"  style="margin-top: 8px; padding: 8px 16px; background-color: #4CAF50; color: white; border: none; border-radius: 4px; cursor: pointer; font-size: 14px;" class="btn btn-success pull-right">Novo Chamado</a>
                        </div>
                        <!-- END NEW TICKET -->
                            <div id="content1">
                                            {% if query %}
                                            <h3>Resultados da pesquisa para "{{ query }}"</h3>
                                            {% endif %}
                                            {% for cliente in clientes %}
                                            {% if cliente.faq_enviar %}

                                        <!-- BEGIN TICKET CONTENT -->
                                        <div id="row-{{cliente.idcliente}}" class="row-clickable" data-bs-toggle="collapse" data-bs-target="#contents-collapse-{{cliente.idcliente}}" aria-controls="contents-collapse-{{cliente.idcliente}}">
                                            <ul class="list-group fa-padding">
                                                <li class="list-group-item" onclick="openModal('{{cliente.idcliente}}')" data-target="#issue-{{cliente.idcliente}}">
                                                    <div class="media">
                                                    
                                                        <div class="media-body"><i class="fa-solid fa-person-circle-question"></i>
                                                            &nbsp;&nbsp; {{ cliente.nomecliente }} <span class="label label-danger"><strong>{{cliente.assunto | safe}}:</strong></span><span class="number pull-right">{{cliente.datacriacao}}</span>
                                                            <br><br>
                                                            <p><strong><i class="fa-solid fa-comment-dots"></i>&nbsp&nbsp&nbsp{{ cliente.descricao | safe}}</strong></p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                
                                    <!-- END DETAIL TICKET -->
                                </div>
                                <!-- END TICKET CONTENT -->
                                {% endif %}
                                {% empty %}
                                <p>Nenhum resultado encontrado.</p>
                                {% endfor %}
                            </div>
                            
                            <div id="content2" class="hidden">
                                {% for cliente in clientes %}
                                    {% if cliente.faq_enviar and cliente.assunto == 'NOSSOS APLICATIVOS' %}
                                            <!-- BEGIN TICKET CONTENT -->
                                            <div id="row-{{cliente.idcliente}}" class="row-clickable" data-bs-toggle="collapse" data-bs-target="#contents-collapse-{{cliente.idcliente}}" aria-controls="contents-collapse-{{cliente.idcliente}}">
                                                <ul class="list-group fa-padding">
                                                    <li class="list-group-item" onclick="openModal('{{cliente.idcliente}}')" data-target="#issue-{{cliente.idcliente}}">
                                                        <div class="media">
                                                        
                                                            <div class="media-body"><i class="fa-solid fa-person-circle-question"></i>
                                                                &nbsp;&nbsp; {{ cliente.nomecliente }} <span class="label label-danger"><strong>{{cliente.assunto | safe}}:</strong></span><span class="number pull-right">{{cliente.datacriacao}}</span>
                                                                <br><br>
                                                                <p><strong><i class="fa-solid fa-comment-dots"></i>&nbsp&nbsp&nbsp{{ cliente.descricao | safe}}</strong></p>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>

                                        <!-- END DETAIL TICKET -->
                                    </div>
                                    <!-- END TICKET CONTENT -->
                                    {% endif %}
                                    {% endfor %}
                                </div>
                        
                                <div id="content3" class="hidden">
                                    {% for cliente in clientes %}
                                        {% if cliente.faq_enviar and cliente.assunto == 'DÚVIDAS FINANCEIRAS' %}
                                                <!-- BEGIN TICKET CONTENT -->
                                                <div id="row-{{cliente.idcliente}}" class="row-clickable" data-bs-toggle="collapse" data-bs-target="#contents-collapse-{{cliente.idcliente}}" aria-controls="contents-collapse-{{cliente.idcliente}}">
                                                    <ul class="list-group fa-padding">
                                                        <li class="list-group-item" onclick="openModal('{{cliente.idcliente}}')" data-target="#issue-{{cliente.idcliente}}">
                                                            <div class="media">
                                                            
                                                                <div class="media-body"><i class="fa-solid fa-person-circle-question"></i>
                                                                    &nbsp;&nbsp; {{ cliente.nomecliente }} <span class="label label-danger"><strong>{{cliente.assunto | safe}}:</strong></span><span class="number pull-right">{{cliente.datacriacao}}</span>
                                                                    <br><br>
                                                                    <p><strong><i class="fa-solid fa-comment-dots"></i>&nbsp&nbsp&nbsp{{ cliente.descricao | safe}}</strong></p>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                        
                                            <!-- END DETAIL TICKET -->
                                        </div>
                                        <!-- END TICKET CONTENT -->
                                        {% endif %}
                                        {% endfor %}
                                    </div>

                                    <div id="content4" class="hidden">
                                        {% for cliente in clientes %}
                                            {% if cliente.faq_enviar and cliente.assunto == 'SUPORTE TÉCNICO' %}
                                                    <!-- BEGIN TICKET CONTENT -->
                                                    <div id="row-{{cliente.idcliente}}" class="row-clickable" data-bs-toggle="collapse" data-bs-target="#contents-collapse-{{cliente.idcliente}}" aria-controls="contents-collapse-{{cliente.idcliente}}">
                                                        <ul class="list-group fa-padding">
                                                            <li class="list-group-item" onclick="openModal('{{cliente.idcliente}}')" data-target="#issue-{{cliente.idcliente}}">
                                                                <div class="media">
                                                                
                                                                    <div class="media-body"><i class="fa-solid fa-person-circle-question"></i>
                                                                        &nbsp;&nbsp; {{ cliente.nomecliente }} <span class="label label-danger"><strong>{{cliente.assunto | safe}}:</strong></span><span class="number pull-right">{{cliente.datacriacao}}</span>
                                                                        <br><br>
                                                                        <p><strong><i class="fa-solid fa-comment-dots"></i>&nbsp&nbsp&nbsp{{ cliente.descricao | safe}}</strong></p>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                            
                                                <!-- END DETAIL TICKET -->
                                            </div>
                                            <!-- END TICKET CONTENT -->
                                            {% endif %}
                                            {% endfor %}
                                        </div>

                                        <div id="content5" class="hidden">
                                            {% for cliente in clientes %}
                                                {% if cliente.faq_enviar and cliente.assunto == 'OUTRAS INFORMAÇÕES' %}
                                                     <!-- BEGIN TICKET CONTENT -->
                                                        <div id="row-{{cliente.idcliente}}" class="row-clickable" data-bs-toggle="collapse" data-bs-target="#contents-collapse-{{cliente.idcliente}}" aria-controls="contents-collapse-{{cliente.idcliente}}">
                                                            <ul class="list-group fa-padding">
                                                                <li class="list-group-item" onclick="openModal('{{cliente.idcliente}}')" data-target="#issue-{{cliente.idcliente}}">
                                                                    <div class="media">
                                                                    
                                                                        <div class="media-body"><i class="fa-solid fa-person-circle-question"></i>
                                                                            &nbsp;&nbsp; {{ cliente.nomecliente }} <span class="label label-danger"><strong>{{cliente.assunto | safe}}:</strong></span><span class="number pull-right">{{cliente.datacriacao}}</span>
                                                                            <br><br>
                                                                            <p><strong><i class="fa-solid fa-comment-dots"></i>&nbsp&nbsp&nbsp{{cliente.descricao | safe}}</strong></p>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </ul>
                                
                                                    <!-- END DETAIL TICKET -->
                                                </div>
                                                <!-- END TICKET CONTENT -->
                                                {% endif %}
                                                {% endfor %}
                                            </div>

                                            <div id="content6" class="hidden">
                                                {% for cliente in clientes %}
                                                    {% if cliente.faq_enviar and cliente.assunto == 'RECLAMAÇÕES' %}
                                                            <!-- BEGIN TICKET CONTENT -->
                                                            <div id="row-{{cliente.idcliente}}" class="row-clickable" data-bs-toggle="collapse" data-bs-target="#contents-collapse-{{cliente.idcliente}}" aria-controls="contents-collapse-{{cliente.idcliente}}">
                                                                <ul class="list-group fa-padding">
                                                                    <li class="list-group-item" onclick="openModal('{{cliente.idcliente}}')" data-target="#issue-{{cliente.idcliente}}">
                                                                        <div class="media">
                                                                        
                                                                            <div class="media-body"><i class="fa-solid fa-person-circle-question"></i>
                                                                                &nbsp;&nbsp; {{ cliente.nomecliente }} <span class="label label-danger"><strong>{{cliente.assunto | safe}}:</strong></span><span class="number pull-right">{{cliente.datacriacao}}</span>
                                                                                <br><br>
                                                                                <p><strong><i class="fa-solid fa-comment-dots"></i>&nbsp&nbsp&nbsp{{cliente.descricao | safe}}</strong></p>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        <!-- END DETAIL TICKET -->
                                                    </div>
                                                    <!-- END TICKET CONTENT -->
                                                    {% endif %}
                                                    {% endfor %}
                                                </div>

                          </div>

                        </div>
                    </div>
                </div>
                <!-- END TICKET -->
            </div>
        </section>
    </div>
    
    {% for cliente in clientes %}
    {% if cliente.faq_enviar %}
    <div class="modal fade issue-{{cliente.idcliente}} issue-{{cliente.idcliente}}" tabindex="-1" role="dialog" aria-labelledby="issue-{{cliente.idcliente}}" aria-hidden="true" >
        <div class="modal-dialog" style="max-width: 80%; height: auto;">
            <div class="modal-content">
                <div class="modal-header bg-blue" >
                    <h4 class="modal-title text-left"><i class="fa fa-comments"></i>&nbsp;&nbsp;{{cliente.assunto}}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <form action="#" method="post">
                    <div class="modal-body text-left" style="max-width: auto; height: 80%">
                        <div class="row">
                            <div class="col-md-12">
                                <p><i class="fa-solid fa-person-circle-question"></i>&nbsp;&nbsp;{{ cliente.nomecliente }}&nbsp;&nbsp;{{cliente.get_data_criacao}}</p>
                                <p ><i class="fa-solid fa-comment-dots"></i>&nbsp;&nbsp;{{ cliente.descricao | safe}}</p>
                            </div>
                        </div>
                        <div class="row support-content-comment">
                            <div class="col-md-12">
                                <p class="info"><i class="fa-solid fa-user"></i><strong>&nbsp;&nbsp;Amm Usuário:</strong><br><br>
                                    <strong>&nbsp;&nbsp;{{cliente.resposta_usuario | safe}}</strong></p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default text-right" data-dismiss="modal"><i class="fa fa-times"></i> Fechar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
    <script>

        function openModal(id_client) {
            
            
            const modal = new bootstrap.Modal(document.getElementsByClassName('modal fade issue-' + id_client)[0], {
                keyboard: false
              })
            modal.show()
            console.log(modal)
        }

        function toggleVisibility(contentId) {
            // Esconde todos os conteúdos
            for (let i = 1; i <= 6; i++) {
                const content = document.getElementById(`content${i}`);
                content.classList.add("hidden");
            }

            // Remove a classe "selected" de todos os botões
            const buttons = document.querySelectorAll(".button");
            buttons.forEach(button => {
                button.classList.remove("selected");
            });

            // Exibe o conteúdo correspondente ao botão clicado
            const selectedContent = document.getElementById(`content${contentId}`);
            selectedContent.classList.remove("hidden");

            // Destaca o botão selecionado
            const selectedButton = document.querySelector(`.button-item:nth-child(${contentId}) .button`);
            selectedButton.classList.add("selected");
        }
    </script>
</body>
</html>